/*确认订单*/
.core_shippingmodetable {margin-bottom:10px;}
.core_shippingmodetable th {background:#f3f3f3;line-height:25px;padding:2px 2px 2px 20px;text-align:left;font-weight:normal;}
.core_shippingmodetable td { line-height:20px; text-align:left; padding:2px 2px 2px 20px; color:#888888;}
.core_orderdetile{}
.core_orderdetile th {background:#f5f5ed; color:#333333;line-height:25px;padding:2px 2px 2px 20px;text-align:left;font-weight:normal;}
.core_orderdetile td { line-height:20px; vertical-align:top; text-align:left; padding:8px 2px 2px 20px; color:#656565;}
.core_order_info_addressc2 ul li {height:30px;}
.core_order_info_addressc2 span.itemname {display:block;float:left;width:90px;font-size:12px;height:24px;line-height:24px;}
.core_order_info_addressc2 span.iteminput {display:block;float:left;line-height:20px;} 
.core_order_info_addressc2 span.validateimg {display:block;float:left;padding-left:10px;}
.core_order_info_addressc2 .textform {height:22px;border:1px solid #c7c7c7;background:url(../images/core/Process/inputbg.png) repeat-x left top;width:208px;line-height:22px;padding-left:5px;font-size:12px;}
.core_order_info_addressc2 input.validatetext {width:80px;}
.core_order_info_addressc2 span.validate {display:block;float:left;width:250px;overflow:hidden;height:28px;margin-left:8px; overflow:hidden; line-height:28px;}
.core_order_info_addressc2 span.validate br {display:none}
.core_cartWeight{ text-align:right;}
.core_order_info_tab  h3{ color:#656565; font-size:14px; font-weight:700; margin-bottom:10px;}
.core_order_info_addressc{ background:url(../images/core/process/submit_order_dashedline.jpg) repeat-x bottom; line-height:30px;}
.submit_dashline2{
	padding-bottom:5px;
}
.submit_part3{
	padding:15px 10px 5px 15px;
	overflow:hidden;
	color: #807f7f;
	font-size: 13px;	
}
.submit_part3_l{
	float:left;
	width:585px;
	overflow:hidden;
	border-right: 2px dotted #fde4ec;
} 
.submit_part3_l ul{
	margin-right: 25px;
}
.submit_part3_l ul li{
	margin-bottom: 15px;
	overflow: hidden;
}
.submit_part3_l ul li select,
.submit_part3_l ul li input
{
	border: 1px solid #d7d7d7;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	color: #807f7f;	
}
.submit_part3_l ul .combo input{
	border: none;
}
.submit_part3_l ul li p{
	margin-top: 5px;
}
.submit_part3_l ul li .street{
	width: 350px;
}
.submit_part3_l ul li .comCode{
	background: #f0f0ef;
	border: 1px solid #d9d9d8;
	padding-right: 20px;
}
.submit_part3_l ul li .comCode input{
	width: 95px;
	border: 1px solid #f0f0ef;
}
.submit_part3_l ul li .userCode{
	background: #c6c6c6;
	padding: 0 5px;
	border: none;
	color: #fff;
	margin-left: 5px;
}
.submit_part3_l ul .sendTime,
.submit_part3_r ul .sendTime
{
	border-bottom: 1px solid #fde4ec;
	padding-bottom: 15px;
}
.submit_part3_r{
	float:right;
	min-width:380px;
	overflow:hidden;
} 
.submit_part3_r ul{
	margin-left: 15px;
}
.submit_part3_r ul li{
	margin-bottom: 15px;
	overflow: hidden;
	text-align: right;
}
.submit_part3_r ul li strong{
	font-size: 20px;
}
.submit_part3_r ul li b{
	color: #ef5b86;
	font-size: 24px;
	font-weight: normal;
}
.submit_part3_r ul li em{
	font-size: 13px;
	color: #ef5b86;
}
.submit_part3_linfo1{ line-height:30px; font-weight:700;}
.submit_part3_linfo1 .input_1{ border:1px solid #ccc;}
.submit_part3_linfo2{ padding-left:8px; margin-top:12px;}
.youhui_btn_sub{ width:79px; height:22px; background:url(../images/core/process/submit_order_55.jpg) no-repeat; color:#746816; border:0px; font-size:12px; cursor:pointer;}
.youhui_btn_input{ border: 1px solid #B8BFD1; width:100px; padding:0px 2px; height:18px; line-height:18px;}
.font14{ font-size:14px;}
.font12{ font-size:12px;}
.color_4_line_b a{ color:#444444; background:#fff; border:0px; cursor:pointer; text-decoration:underline;}
.comon_submmitorder_address{ margin:12px;}
.comon_submmitorder_address2{ background:#fff; border:1px solid #ccc; padding:10px; margin-bottom:10px; display:none;}
.OrderSubmit_2dx{ text-align:right; padding-right:20px;}
.OrderSubmit_2dx a{ font-size:12px; font-weight:700; color:#666;}
.core_order_tab_sub{ padding-left:440px;}
.core_order_message_area{ width:286px; height:38px; border:1px solid #ccc; background:#FAFAFA;}
.core_orderbutton{
	width:140px;
	height:40px;
	line-height: 40px;
	border:0;
	color:white;
	font-size:20px;
	vertical-align:middle; 
	cursor:pointer;
	background:#ed4676 url(../images/add/btnBg.png) repeat-x; 

}
.core_order_pay_sub {background:url(../images/core/Process/btn_bg_2.gif) no-repeat;width:90px;height:32px;border:0;color:white;font-size:14px;font-weight:700; cursor:pointer; }
.core_orderpay{ border:5px solid #F5F5ED; width:670px; margin:0 auto; padding:10px 18px;}
.core_orderpay h2{ color:#2D2D2D; font-size:14px; font-weight:700; }
.core_orderpay_c{ line-height:31px; font-size:14px; color:#616161; margin-top:9px;}
/*购物车流程*/
.core_cartdetile_th th {
	border:1px solid #e5e5e5;
	background: #f6f6f6;
	line-height:30px;
	font-weight:normal;
	color:#7a7a7a;
	text-align:center;
	font-size: 13px;
}
.core_cartdetile{
	border: 1px solid #e5e5e5;
	border-top: none;
	border-bottom: none;
}
.core_cartdetile td {
	border-bottom:1px solid #e5e5e5;
	height:80px;
	text-align:center;
	font-size: 13px;
	color: #807f7f;
}
.core_cartdetile td a{
	color: #807f7f;	
}
.core_gifts_tab{ border:1px solid #e1e1e1; padding:20px;}
.core_gifts_bline{ height:1px; background:#e9e9e9; overflow:hidden;}
.core_gifts_jiesuan{ width:980px ;color:#333333;}
.core_giftlist_name{ line-height:18px;}
.core_giftlist_price{ height:24px; line-height:24px;}
.core_giftlist_price b{ color:#FF0000; margin-right:10px;}
.core_giftlist_price span{ color:#3468CD;}
.core_giftlist_sub{}
.core_gifts_list{ margin-top:5px;}

.clear_buycart{float:left;display: none;}
.core_giftslist {margin-bottom:10px;}
.core_gifimg {padding:7px;}
.core_giftprice {color:#b91313; font-size:14px;}
.core_giftprice2 {color:#ef0000; font-size:12px;}
.core_giftprice2 a{ color:#3366cc; margin-left:10px;}
.core_giftprice3 {color:#b90000; font-size:14px; font-weight:700;}
.core_buy_cartsub{ margin-top:6px;}
.core_buy_cartsub a{ margin-right:10px;}
.core_cartname {position:relative;}
.core_cartname .core_cartmessage {position:absolute;top:12px;left:163px;font-size:12px;font-weight:normal;}
.core_cartbtn {text-align:right;overflow:hidden;}

.cart_txtbuynum{border: 1px solid #ccc; height:18px; line-height:18px; text-align: center;}
.cart_conbtn{ background:url(../images/core/process/conbtn.gif) no-repeat; width:96px; height:40px; border:0px; cursor:pointer;}
.cart_chekout{
	background: #ed4676 url(../images/add/btnBg.png) repeat-x;
	width:164px;
	height:40px;
	border:0px;
	cursor:pointer;
	color: #fff;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	margin-top: -5px;
}
.cart_update{
	width:36px;
	height:21px;
	border:0px;
	cursor:pointer;
	color: #5d5d5d;
}
/**********************/
.core_layout_logo{ width:980px;overflow:hidden;}
.cart_top_info{width:980px;overflow:hidden; clear:both; margin-top:5px;}
.cart_top_info1{ color:#676767; margin-right:10px; float:right;line-height:23px;}
.cart_top_info1 a{ color:#676767;}
.cart_top_info1 .login_logout,.cart_top_info1 .login_logout a{color:#ff0000;}
.cart_top_info1 .color_red1{ color:#FF0000; font-weight:700;}
.cart_top_info1 img{ width:120px; vertical-align:middle;}
.cart_top_info2,.cart_top_info2 a{ color:#0066cc; float:right; width:80px; text-align:right; line-height:23px;}
.core_form2{

}
.listTips ul .pro,
.listTips ul .re,
.inner p i,
.addressWp .addActive,
.addStree i
{
	background: url(../images/add/address.png) no-repeat
}
.listBor{
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
.listBor a:hover{
	text-decoration: none;
	color: #797979;
}
.listTips{
	background: #f6f6f6;
	border: 1px solid #f0f0ef;
	height: 38px;
	line-height: 38px;
	position: relative;
	padding-left: 17px;
	margin-bottom: 10px;
}
.listBor .listTips{
	border: none;
	border-bottom: 1px solid #f0f0ef;
}
.noB{
	background: none;
	border: none;
}
.listTips cite{
	position: absolute;
	left: 1px;
	top: 0px;
	display: block;
	width: 6px;
	height: 38px;
	background: #ef5b86;
}
.listTips span{
	color: #adadad;
	float: left;
}
.listTips .carSearch{
	margin:8px 5px 0 15px;
	background: #d7d5d5;
}
.listTips ul{
	float: right;
	margin-right: 3px;
}
.listTips ul li{
	float: left;
	color: #696969;
	font-size: 13px;
	margin-left: 20px;
}
.listTips ul li i{
	display: inline-block;
	*display: inline;
	*zoom:1;
	width: 23px;
	height: 23px;	
	vertical-align: middle;	
}
.listTips ul .pro{
	background-position: -23px 0;
}
.listTips ul .re{
	background-position: -23px -26px;
}
.addCar{
	padding-top: 15px;
}
.addCar h2{
	font-size: 16px;
	color: #5f5f5f;
	margin-bottom:10px;
}
.addCar h2 span{
	font-size: 14px;
	border-left: 1px dotted #888;
	margin-left: 8px;
	padding-left: 8px;
}
.addCar h2 em{
	color: #ef5b86;
}
.listTips h2{
	margin:0;
	font-size: 15px;
}
.listTips h2 select{
	border: 1px solid #d7d7d7;
	color: #807f7f;
	margin-right: 5px;
}
.listTips h2 i{
	font-size: 14px;
	color: #a19e9f;
}
.listTips h2 a{
	float: right;
	font-size: 13px;
	margin-right: 5px;
	text-decoration: underline;
}
.cartRight{
	float: right;
}
.addCar .carDelete{
	width: 16px;
	height: 16px;
	background: url(../images/add/delete.png) no-repeat;
	border: none;
	cursor: pointer;
}
.goOn{
	margin-top: 7px;
}
.goOn a{
	color: #adadad;
	float: left;
}
.goOn span{
	float: none;
	color: #ef5b86;
}
.goOn em{
	color: #ef5b86;
	margin: 0 5px;
}
.addressWp{
	margin: 12px auto;
	overflow: hidden;
	width: 1100px;
}
.addressWp .innerList{
	width: 325px;
	height: 140px;
	float: left;
	background: url(../images/add/add.jpg) no-repeat center center;
	margin:0 15px 10px 0;
	cursor: pointer;
	position: relative;
}
.addressWp .active{
	background: url(../images/add/addA.jpg) no-repeat center center;
}
.inner{
	padding: 25px 17px 0 30px;
}
.inner p{
	color: #7a7a7a;
	font-size: 13px;
	clear: both;
	line-height: 20px;
}
.inner p a{
	float: right;
	color: #d9d9d9;
}
.inner p i{
	display: inline-block;
	*display: inline;
	*zoom:1;
	width: 18px;
	height: 23px;
	vertical-align: middle;
	margin-right: 10px;
	float: left;
}
.inner .name i{
	background-position: 0 0;
}
.inner .street i{
	background-position: 0 -23px;
}
.addressWp .active .inner .name i{
	background-position: 0 -49px;
}
.addressWp .active .inner .street i{
	background-position: 0 -73px;
}
.addressWp .addActive{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 45px;
	height: 27px;
	background-position: right -120px;
	display: none;
}
.addressWp  .active .addActive{
	display: block;
}
.inner .street span{
	float: left;
	width: 250px;
}
.addStree{
	width: 323px;
	height: 138px;
	float: left;
	border: 1px dashed #e5e5e5;
	margin: 0 15px 10px 0;
	cursor: pointer;
	position: relative;
	text-align: center;
	line-height: 140px;
}
.addStree i{
	width: 16px;
	height: 16px;
	display: inline-block;
	*display: inline;
	*zoom:1;
	background-position:0 -102px; 
	margin-right: 10px;
	vertical-align: -2px;
}
.mess{
	border-bottom: 1px solid #d7d7d7;
	padding: 15px 25px;
	color: #807f7f;
}
.mess span{
	font-size: 15px;	
}
.mess span input{
	 border: 1px solid #d7d7d7;
	 width: 380px;
	 height: 20px;
	 line-height: 20px;
	 margin-left: 5px;
	 padding-left: 5px;
}
.carTips{
	margin: 100px auto 50px auto;
}
.carTips dl{
	overflow: hidden;
	width: 300px;
	margin: 0px auto;
}
.carTips dl dt{
	float: left;
}
.carTips dl dd{
	float: left;
	padding: 15px 0 0 35px;
}
.carTips dl dd p{
	font-size: 14px;
	color: #404852;
	font-family: "Microsoft Yahei";
	line-height: 20px;
}
.carTips dl dd a{
	display: inline-block;
	*display: inline;
	*zoom:1;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background: #ed4676 url(../images/add/btnBg.png) repeat-x;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: none;
	margin-top: 10px;
	padding: 0 10px;
}
.carTips dl dd a:hover{
	text-decoration: none;
}
.core_sku_input{
	border:1px solid #eae9e9;
	width:183px;
	padding: 3px 0;
}
.core_sku_submit{
	border:0px;
	width:80px;
	height:24px;
	line-height:24px;
	cursor:pointer;
	padding:0px;
	text-align:center;
	color:#ef5b86;
	font-size:12px;
}
.skuWp{
	margin-bottom: 10px;
}
.skuWp .Product_WareFun_bg{
	border: 1px solid #e5e5e5;
}