body {
    margin: 0;
    padding: 0 0 12px 0;
    font-size: 12px;
    color: #383836;
    line-height: 1.8;
    font-family: "Microsoft YaHei", "Arial", "SimSun";
    background: #fff;
}

form, ul, li, ol, li, dl, dt, dd, img, p, h1, h2, h3, h4, h5, h6, input {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-size: 12px; }

input, select { font-size: 12px; }

img { border: 0; }

ul, li { list-style-type: none; }

strong { font-weight: normal; }

em, cite, i { font-style: normal; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: underline;
    color: red;
}

img, input, select {
    vertical-align: middle;
    font-size: 12px;
}

textarea { vertical-align: top; }

a img { border: none; }

ul, dl, dd, h1, h2, h3, h4, dl, fieldset, form, p, blockquote {
    margin: 0;
    padding: 0;
    list-style: none;
}
.textCen{
    text-align: center;
    margin: 0px auto;
}

table { border-collapse: collapse;font-size:12px;}

.margin10 { margin: 10px; }

.color_red { color: #f00; }

.color_blue { color: #36c; }

.color_grey { color: #999; }

.color_orange { color: #f60; }

.font_b { font-weight: bold; }

.AfterClear { zoom: 1; }

.AfterClear:after {
    content: ",";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}

.input_style1 { border: 1px #ccc solid; }


.NavClass h2 span,
.alertWp .cancel,
.alertWp .sure { background: url(../images/user/addIcon.png) no-repeat; }

.btn_style_bar, .go_result, .input_data, .btn_save_address, .input_next, .input_charge {
    background-image: url('../images/process/background-img.gif');
    background-repeat: no-repeat;
    background-color: transparent;
}

.clewbar {
    background-color: #f6f6f6;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.clewbar strong { color: #f60; }

.Cblock, .Cblock2 {
    margin: 10px;
    padding: 10px;
    border: 1px #dedede solid;
}

.Cblock2 { margin: 10px 0; }

.contentarea .Cblock a {
    text-decoration: underline;
    margin-left: 5px;
}

.contentarea .Cblock h3 { font-size: 14px; }

.contentarea .Cblock label.labeldefault {
    display: inline-block;
    width: 7em;
    text-align: right;
}

.Cblock p { margin: 5px auto; }

.Cblock p strong { font-weight: 500; }

/*会员中心默认首页结束*/

.YourPoint {
    width: 18%;
    float: left;
    font-size: 12px;
    text-align: center;
}

.YourPoint strong {
    display: block;
    margin: 10px auto;
    font-size: 2em;
    font-family: "Arial Unicode MS";
    color: #f60;
}

.PointRule {
    float: right;
    width: 82%;
    font-size: 12px;
}

.PointRule dl {
    padding-left: 10px;
    border-left: 1px #000 dotted;
}

.PointRule dl dt { font-weight: bold; }

.datalist {
    background-color: #fff;
    text-align: center;
    font-size: 12px;
}
.datalist .textCen{
    margin-top: 10px;
}
.datalist img { display: inline; }

.datalist tr:hover { background-color: #ffe; }

.datalist strong { font-weight: bold; }

.datalist .diplayth td,
.datalist .diplayth1 th {
    background: #a7b2c4 url(../images/user/borderR.png) right center no-repeat;
    text-align: center;
    color: #fff;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.datalist .diplayth td:first-child,
.datalist .diplayth1 th:first-child {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}

.datalist .diplayth td:last-child,
.datalist .diplayth1 th:last-child {
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    background: #a7b2c4;
}

.btn_style_bar {
    height: 25px;
    width: 72px;
    border: 0px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    background: #64b4ea;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    letter-spacing: 3px;
    font-weight: bold;
}

.bar form { font-size: 12px; }

.MegNum {
    color: #36c !important;
    text-decoration: underline !important;
    font-weight: bold;
}

.MegNew {
    color: #f00 !important;
    text-decoration: underline !important;
    font-weight: bold;
}

.fanye {
    color: #777;
    text-align: right;
}

.fanye a { color: #000; }

.fanye a:hover { color: #f90; }

.fanye .go_result {
    width: 24px;
    height: 22px;
    border: 0;
    background-position: 0 -180px;
    font-size: 11px;
    color: #333;
}

.fanye .selected {
    font-weight: bold;
    color: #f60;
}

.fanye2 {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 0.5em;
}

.input_data {
    background-position: top right;
    padding-right: 18px;
    width: 5.5em;
}

/*====================================选项卡样式开始=======================================*/

#Tab1 {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

/*菜单class*/

.Menubox {
    height: 27px;
    line-height: 27px;
    margin-bottom: 10px;
}

.Menubox ul { margin-top: 10px; }

.Menubox ul:after {
    content: ",";
    display: block;
    clear: left;
    height: 0;
    font-size: 0;
}

.Menubox li {
    float: left;
    cursor: pointer;
    width: 111px;
    text-align: center;
    color: #000;
    height: 27px;
    margin: 0 1px;
    white-space: nowrap;
    background: #f3f3f3;
}

*html .Menubox li.hover, *html .Menubox li {
    position: relative;
    bottom: -1px;
}

.Contentbox {
    border-top: 1px solid #999;
    background-color: transparent;
    padding: 0;
}

/*====================================选项卡样式结束=======================================*/

div.forms {
    background-color: #fff;
    text-align: left;
    padding: 10px;
}

div.forms form p { margin: 10px auto; }

div.forms form p label {
    display: inline-block;
    font-size: 14px;
    width: 9em;
    text-align: right;
}

ul.ProKeyDis {
    font-size: 12px;
    color: #888;
    line-height: 180%;
    margin: 10px;
}

.form_address p { margin: 8px auto; }

.form_address p label {
    display: inline-block;
    font-size: 14px;
    text-align: right;
    width: 7em;
}

.btn_save_address {
    width: 71px;
    height: 27px;
    border: 0;
    text-indent: -100em;
    background-position: 0 -270px;
    cursor: pointer;
}

.btnarea {
    margin: 10px;
    padding: 10px 0;
    border-top: 1px #ccc dotted;
}

.btnarea a { text-decoration: none; }

/*商品评论开始*/

.proreview-que-box {
    background: #fafcff url('../images/process/icon-question.gif') 10px 5px no-repeat;
    padding: 10px 10px 10px 45px;
    line-height: 24px;
    color: #888;
}

.proreview-title {
    font-size: 13px;
    color: #36c;
    font-weight: bold;
    text-decoration: underline;
}

.proreview-type, .proreview-point, .proreview-user { margin-right: 1.5em; }

.proreview-con { color: #555; }

.proreview-reply-box {
    padding: 10px 10px 10px 60px;
    margin-left: 45px;
    background: #fff url('../images/process/icon-reply.gif') 0 12px no-repeat;
    border-bottom: 1px #eee dotted;
    color: #555;
}

h3.title_review {
    font-size: 12px;
    margin: 10px;
}

h3.title_review a { color: #36c; }

h3.title_review span { font-weight: lighter; }

h3.title_review span strong {
    font-weight: lighter;
    color: #f00;
}

/*商品评论结束*/

ul.APNav { zoom: 1; }

ul.APNav:after {
    content: ",";
    display: block;
    clear: left;
    height: 0;
    font-size: 0;
}

ul.APNav li {
    float: left;
    margin-right: 1em;
}

.input_next {
    width: 96px;
    height: 29px;
    border: 0;
    background-position: 0 -300px;
    text-indent: -100em;
    cursor: pointer;
}

.input_charge {
    width: 81px;
    height: 30px;
    border: 0;
    background-position: 0 -330px;
    text-indent: -100em;
    cursor: pointer;
}

.banklist {
    display: inline-block;
    vertical-align: top;
}

.n12 {
    background-position: center !important;
    font-weight: bold;
}

/* 订单详细*/

/*===================全局样式====================*/

.spanA {
    font-weight: bold;
    font-size: 14px;
    color: #4e4e4e;
}

.spanB {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.spanC {
    color: #ff0701;
    font-weight: bold;
    font-size: 14px;
}

.spanD {
    font-size: 14px;
    color: #fe4800;
    font-weight: bold;
}

.spanE { color: #fe4800; }

.spanF { color: #f00000; }

.spanG {
    font-size: 12px;
    color: #fe4800;
    font-weight: bold;
}

.spank {
    font-weight: bold;
    font-size: 12px;
    color: #4e4e4e;
}

.spanU { color: #8e8e8e; }

.spanR { color: #1b517f; }

.spanL {
    color: #8e8e8e;
    border-right: 1px #e8e8e8 solid;
}

#D_main, #DD_main {
    width: 960px;
    height: auto;
    margin: 5px 0px 0px 5px;
}

#D_top, #DD_top {
    height: 25px;
    width: 960px;
}

#D_main div { float: left; }

#D_main table { float: left; }

.D_main_top, .DD_main_top {
    width: 950px;
    border: 1px #fed7ba solid;
    padding: 4px;
    margin-bottom: 10px;
}

.D_main_top table, .DD_main_top table {
    width: 950px;
    height: 30px;
    background: #f3f3f3;
    padding-left: 20px;
}

.cuent_mian, .DD_cuent_mian {
    width: 958px;
    border: 1px #fed7ba solid;
    height: auto;
    margin-bottom: 10px;
}

.title, .title_b, .DD_title, .DD_title_b {
    background: #fff5ee;
    width: 930px;
    padding-left: 28px;
    height: 28px;
    line-height: 28px;
}

.title_b, .DD_title_b {
    border-top: 1px #fed7b9 solid;
    margin-top: 10px;
}

.input {
    width: 55px;
    height: 19px;
    background: url(../images/process/3_03.jpg) no-repeat;
    border: 0;
}

.input_b {
    width: 80px;
    height: 26px;
    background: url(../images/process/6_03.jpg) no-repeat;
    border: 0;
    font-size: 14px;
    color: #fe4800;
    font-weight: bold;
    margin-left: 5px;
}

.input_c {
    width: 130px;
    border: 1px #c2c2c2 solid;
}

.input_d {
    width: 65px;
    height: 19px;
    background: url(../images/process/11_03.jpg) no-repeat;
    border: 0;
}

.title_bt, .DD_title_bt {
    width: 960px;
    height: 32px;
}

.no {
    font-weight: bold;
    height: 33px;
    width: 115px;
    color: #000;
    text-align: center;
    float: left;
    background: url(../images/process/6_06.jpg) no-repeat;
    position: relative;
    margin: 1px 5px 0px 0px;
    position: relative;
    cursor: pointer;
    line-height: 32px;
    font-size: 14px;
}

.yes {
    width: 115px;
    line-height: 26px;
    color: #000;
    text-align: center;
    float: left;
    background: url(../images/process/7_06.jpg) no-repeat;
    margin: 7px 5px 0px 0px;
    position: relative;
    cursor: pointer;
    line-height: 26px;
}

.title table { width: 930px; }

.title td {
    font-size: 14px;
    color: #fe4800;
    font-weight: bold;
    height: 28px;
}

.content, .DD_content {
    width: 930px;
    padding-left: 28px;
    margin-top: 10px;
}

.content_b { width: 958px; }

.content_b table { width: 958px; }

.content_b td, .DD_content_b td { border-bottom: 1px #e8e8e8 dashed; }

.table_T { border-right: 1px #e8e8e8 solid; }

.content_c, .DD_content_c {
    width: 928px;
    border-bottom: 1px #d8d8d8 solid;
    border-right: 1px #d8d8d8 solid;
    margin: 10px 10px 10px 10px;
}

.content_c table td, .DD_content_c table td {
    border-left: 1px #d8d8d8 solid;
    border-top: 1px #d8d8d8 solid;
    padding: 0px 5px 0px 5px;
}

.content_table_title {
    background-color: #f9f9f9;
    color: #a5a5a5;
}

.title_c, DD_.title_c {
    width: 958px;
    background: #fbfbfb;
    border-bottom: 1px #e8e8e8 solid;
    height: 28px;
    margin-top: 1px;
}

.title_c td { color: #a5a5a5; }

.title_d, .DD_title_d {
    width: 955px;
    background: #fbfbfb;
    border-top: 1px #e8e8e8 solid;
    border-right: 1px #fed7ba solid;
    height: 28px;
}

.bottom_bt, .DD_bottom_bt {
    width: 960px;
    text-align: center;
    height: 26px;
    margin-bottom: 10px;
}

#DD_main { width: 777px; }

#DD_top, .DD_title_d, .DD_title_d, .DD_bottom_bt, .DD_title_c, .DD_bottom_bt, .DD_title_bt, .DD_content_b { width: 777px; }

.DD_main_top, .DD_main_top table { width: 765px; }

.DD_cuent_mian { width: 775px; }

.DD_title, .DD_title_b, .DD_content, .DD_content_c { width: 747px; }


.D_main_top {
    width: 950px;
    border: 1px #fed7ba solid;
    padding: 4px;
    margin-bottom: 10px;
}

.D_main_top table {
    width: 950px;
    height: 30px;
    background: #f3f3f3;
    padding-left: 20px;
}

.centerdiv {
    width: 961px;
    text-align: center;
    margin: 0 auto;
}

.class_top_line { background: url(../images/process/class_top_line.jpg) repeat-x; }

.class_left_line { background: url(../images/process/class_left_line.jpg) repeat-y; }

.class_right_line { background: url(../images/process/class_right_line.jpg) repeat-y; }

.class_bottom_line { background: url(../images/process/class_bottom_line.jpg) repeat-x; }

.class_all img { display: block; }

.all_class li {
    white-space: nowrap;
    display: block;
}

.big_class {
    margin: 12px auto 20px 14px;
    border-bottom: dotted 1px #CCCCCC;
}

.class_title_bg {
    margin-left: 5px;
    background: url(../images/process/class_title_bg.jpg) repeat-x;
}

.pad_b15 { padding-bottom: 15px; }

.class_title1 {
    color: #FF3700;
    font-size: 14px;
    font-weight: bold;
    padding-top: 2px;
}

.class_title1 a {
    color: #FF3700;
    font-size: 14px;
    font-weight: bold;
    padding-top: 2px;
}

.class_title2 {
    font-weight: bold;
    color: #4e4e4e;
    margin-left: 8px;
}

.class_title2 a {
    font-weight: bold;
    color: #4e4e4e;
}

.class_list {
    margin-top: 11px;
    width: 170px;
    float: left;
    text-align: left;
 
    margin-left: -3px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
}

.class_list_smallclass li {
    color: #4e4e4e;
    background: 0px 50%;
    clear: none;
    margin: 3px 0px 1px -1px;
    line-height: 14px;
    height: 14px;
    padding: 0px 8px;
    float: left;
    white-space: nowrap;
    border-left: solid 1px #CCCCCC;
    width: auto;
}





.mod_order_topline_bg { background: url(../images/process/mod_order_topline_bg.jpg) repeat-x; }

.mod_order_top_title {
    width: 119px;
    height: 32px;
    background: url(../images/process/mod_order_top_icon.jpg) no-repeat;
    text-align: center;
    color: #000000;
    font-size: 14px;
    line-height: 32px;
    font-weight: bold;
}

.border_mod_notop {
    border-left: 1px #fed6bc solid;
    border-right: 1px #fed6bc solid;
    border-bottom: 1px #fed6bc solid;
    padding: 20px;
}

.mar_l5 { margin-left: 5px; }

.mod_order_priceall { color: #fd4801; }

.navigation {
    color: #4d4d4d;
    margin-bottom: 20px;
}

.navigation_first {
    font-size: 14px;
    font-weight: bold;
    color: #4d4d4d;
}

.navigation_a {
    color: #ff6d00;
    font-size: 12px;
    font-weight: normal;
}

.navigation_a a {
    color: #ff6d00;
    font-size: 12px;
    font-weight: normal;
}

.willpay_bg_icon {
    width: 113px;
    height: 26px;
    background: url(../images/process/willpay_bg_icon.jpg) no-repeat;
    text-align: center;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    line-height: 26px;
}

.attent_border {
    border: 1px solid #ffdac0;
    background: #fef5ee;
    padding: 3px;
}

.message_release {
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px dotted #d4d4d6;
    width: 960px;
}

.message_lefticon_bg { background: url(../images/process/message_lefticon_bg.jpg) repeat-y left; }

.message_righticon_bg { background: url(../images/process/message_righticon_bg.jpg) repeat-y right; }

.message_list {
    background: url(../images/process/message_topline2.jpg) repeat-x top;
    margin-top: 15px;
    line-height: 1.5;
}

.message_list img { display: block; }

.message_list_bottom { background: url(../images/process/message_bottom_bg.jpg) repeat-x; }

.message_list_bottom img { display: block; }

.border_bottom_dotted { border-bottom: 1px dotted #cdcdcd; }

.message_list_content {
    padding: 10px 10px 10px 60px;
    border-bottom: 1px solid #d3cfd0;
}

.message_list_reply { padding: 10px 10px 10px 40px; }

.message_list_title {
    color: #5d5b5c;
    font-size: 12px;
    font-weight: bold;
}

.message_list_reply_time {
    text-align: right;
    padding-right: 15px;
    color: #9f9d9e;
}

.color_red { color: #FF0000; }

/*ygf*/

/*收藏的数据包*/

.Fav_search {
    background: url(../images/process/Fav_search_bg.gif) repeat-x 0 0;
    height: 38px;
    border: 1px solid #dbdbdb;
    margin: 10px 0 0 0;
    padding: 0 0 0 30px;
}

.Fav_btn__bar {
    background: url(../images/process/background.gif);
    width: 34px;
    height: 20px;
    border: 0;
    background-position: 0 -270px;
    font-size: 12px;
    color: #000;
    cursor: pointer;
}

.Fav_line { border-bottom: 1px solid #d4d0c8; }

.Favorites_pic {
    width: 100px;
    height: 125px;
    border: 1px solid #d6d6d6;
    padding: 5px;
}

.Favorites_next {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    background-color: #f8f8f8;
    margin: 0 0 10px 0;
}

.Favorites_next span { padding: 0 0 0 10px; }

.color_red { color: red; }

.color_blue { color: #0033dc; }

.color_gray { color: #5d5d5d; }

.Favorites_ware { line-height: 180%; }

.Favorites_ware span {
    padding: 0 10px 2px 0;
    float: left;
    display: block;
}

.Tags_icon1 { background: url(../images/process/user-icon1.jpg) no-repeat 0 0px; }

.Tags_icon2 { background: url(../images/process/user-icon2.jpg) no-repeat 0 0px; }

.Favorites_ware_cart {
    background: url(../images/process/ware_icon.gif) no-repeat 5px 2px;
    padding-left: 25px !important;
}

.userInput, .proInput {
    border: 1px solid #bebebe;
    height: 19px;
    line-height: 19px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.userSelect select {
    border: 1px solid #bebebe;
    height: 21px;
    line-height: 21px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.btnNothing { border: 1px solid; }

.proInput { width: 40px; }

.batchHandleArea {
    overflow: hidden;
    margin-bottom: 10px;
}

.batchHandleArea .button {
    float: left;
    border: none;
    cursor: pointer;
    width: 111px;
    text-align: center;
    color: #6b7281;
    height: 27px;
    margin: 0 1px;
    white-space: nowrap;
    background: #f3f3f3;
}

/*新增分页控件*/

.page {
    height: auto;
    line-height: 30px;
    color: #999;
}

.pageHandleArea {
    float: left;
    margin-left: 10px;
}

.pageHandleArea li { float: left; }

.pageHandleArea span {
    color: #6b7281;
    float: left;
    margin: 0 5px;
    line-height: 21px;
}

.paginalNum a {
    display: block;
    float: left;
    line-height: 21px;
    height: 21px;
    padding: 0 3px;
    border: #c6c6c6 1px solid;
    background: white;
    text-align: center;
    margin-right: 5px;
    color: #333;
}

.paginalNum .selectthis {
    color: #5c6368;
    font-weight: 700;
    border: #768fab 1px solid;
}

.pagination { float: right; }

.pagenumber {
    float: right;
    margin-right: 15px;
}

.pagination .page-skip {
    color: #999;
    float: left;
    height: 28px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 5px;
    margin: -2px 5px 0 0;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
    vertical-align: middle;
}

.pagination span {
    display: block;
    float: left;
    padding: 0 5px;
    height: 21px;
}

.pagination span.page-cur {
    line-height: 21px;
    height: 21px;
    border: #768fab 1px solid;
    text-align: center;
    margin-right: 3px;
    color: #616c75;
    font-weight: bold;
}

.pagination a {
    display: block;
    float: left;
    height: 21px;
    padding: 0 5px;
    line-height: 21px;
    background: white;
    text-align: center;
    margin-right: 3px;
    color: #616c75;
    border: 1px solid #c6c6c6;
}

.pagination a:hover {
    border: #768fab 1px solid;
    color: #616c75;
    text-decoration: none;
}

.pagination a.page-prev {
    background: url(../images/process/icons.gif) white no-repeat 4px -235px;
    padding-left: 12px;
}

.pagination a.page-next {
    font-weight: normal;
    background: url(../images/process/icons.gif) white no-repeat right -248px;
    padding-right: 12px;
}

.pagination .text {
    border: #a7a6aa 1px solid;
    color: #333;
    width: 25px;
    padding: 2px;
    margin: 0px 3px;
}

.pagination .button {
    width: 52px;
    height: 22px;
    line-height: 22px;
    border: none;
    margin: 0px 5px;
    background: #fff;
    border: 1px solid #a7a6aa;
}


/*收货地址列表页*/

.address {
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
}

.aWidth { width: 980px; }

.MarginCenter { margin: 0 auto; }

.aClear { clear: both; }

.aOverFlow { overflow: hidden }

.aLine_E0DFDF {
    height: 1px;
    background-color: #E0DFDF;
}

.line_bottom { border-bottom: 1px solid #d7d3d4; }

.dashed_bottom { border-bottom: 1px dashed #d7d3d4; }

.border_line { border: 1px solid #cbcbca; }

/*User*/

.core_userform .core_formleft {
    width: 138px;
    margin-right: 12px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dfdfdf;
}

.core_userform .core_formleft, .core_formright { float: left; }

.core_userform {
    width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 10px 0 60px;
}

.core_formright {
    width: 1040px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dfdfdf;
}

.NavClass h2 {
    width: 140px;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    color: #404952;
    font-weight: bold;
}

.NavClass h2 span {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: 0 0;
    vertical-align: middle;
    margin-right: 3px;
}

.NavClass ul {
    padding: 0 7px 5px 7px;
    background: url(../images/user/line.png) center bottom no-repeat;
}

.NavClass ul li { line-height: 24px; }

.NavClass ul li:hover,
.NavClass ul .active { background: url(../images/user/active.png) center center no-repeat; }

.NavClass ul li a {
    margin-left: 22px;
    padding-left: 10px;
    color: #404952;
    background: url(../images/user/dot.png) left center no-repeat;
}

.NavClass ul li a:hover { text-decoration: none; }

.UserImags_name1 { border-bottom: 1px solid #e0e0e0; }

.UserImags_pic {
    width: 43px;
    height: 43px;
    border: 1px solid #d4d5d5;
    padding: 1px;
    overflow: hidden;
}

.User_quit {
    width: 66px;
    height: 18px;
    margin: 10px auto;
}

.User_list { margin: 5px; }

.User_list h1 {
    font-size: 12px;
    font-weight: bold;
    color: #2a6cc5;
    border-bottom: 1px solid #c5c3c2;
}

.User_list li {
    border-bottom: 1px dashed #b2b2b2;
    padding: 2px 10px;
    width: 133px;
}

.User_link ul {
    margin: 0 20px;
    overflow: hidden;
}

.User_link li {
    overflow: hidden;
    padding-bottom: 15px;
    float: left;
    min-width: 230px;
}

.User_link li a {
    color: #838282;
    margin-left: 12px;
}

.User_link li a:hover { color: #3f7cf7; }

.User_link .last {
    width: 100%;
    position: relative;
}

.User_link {
    color: #2a2929;
    margin: 0px 20px;
    overflow: hidden;
    border-bottom: 1px dashed #d6d6d6;
    padding: 15px 0;
}

.User_link label {
    font-size: 12px;
    margin-left: 5px;
}

.User_link .speS {
    float: left;
    margin: 0 8px;
}

.User_link .fTable { float: left; }

.User_link select {
    width: 150px;
    margin-right: 15px;
}

.speLink {
    padding: 0px;
    margin: 15px 20px;
}

.listTable {
    clear: both;
    margin: 0 10px;
}

.listTable .cancel {
    display: block;
    padding: 1px 13px;
    float: left;
    margin-right: 5px;
    border: 1px solid #bababa;
    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f3f4f5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f3f4f5));
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #f3f4f5 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%, #f3f4f5 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%, #f3f4f5 100%);
    background: linear-gradient(to bottom, #fcfcfc 0%, #f3f4f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f3f4f5', GradientType=0);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin: 0 0 10px 20px;
    cursor: pointer;
}

.listTable table {
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
    font-weight: normal;
}

.User_manForm th:first-child {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}

.User_manForm th:last-child {
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    background: #a7b2c4;
}

.even { background: #fff; }

.odd { background: #eeeff2; }

.accountWp { padding: 10px; }

.accountWp p { margin-bottom: 10px; }

.accountWp strong {
    margin-bottom: 10px;
    font-weight: bold;
}

.accountWp p a { margin-left: 10px; }

.accountWp .msgUl li {
    float: left;
    padding-left: 6px;
}

.tips { margin: 0 0 20px 20px; }

.tips span {
    color: #f90;
    font-size: 14px;
    font-weight: bold;
}

.accountWp table { width: 100%; }

.User_border {
    border: 1px solid #cccbcb;
    margin: 30px 20px;
}

.User_border2 {
    border: 1px solid #cccbcb;
    background-color: #edeeee;
    padding: 5px 0;
}

.User_border1 {
    border: 1px solid #cccbcb;
    padding: 25px 20px 15px 10px;
    position: relative;
}

.User_tit {
    width: 180px;
    border-bottom: 3px solid #cfcdcd;
    text-align: center;
    border-right: 3px solid #cfcdcd;
    position: absolute;
    top: -20px;
    left: 30px;
    _left: 20px;
    font-weight: bold;
}

.User_btn, .User_btn1 {
    background: url(../images/process/bg_img.gif) repeat-x 0 -744px;
    border: 1px solid #c6c5c4;
    display: block;
    color: #7a7b7d;
    padding: 1px 10px 0 10px;
    margin: 0 0 0 10px;
    text-align: center;
}

.User_btn1 { width: 120px; }

.User_icon1 {
    background: url(../images/process/icon.gif) no-repeat -250px -86px;
    width: 17px;
    height: 30px;
    display: block;
    float: left;
    padding: 0 3px 0 0;
}

.User_icon2 {
    background: url(../images/process/icon.gif) no-repeat -273px -88px;
    width: 17px;
    height: 30px;
    display: block;
    float: left;
    padding: 0 3px 0 0;
}

.User_icon3 {
    background: url(../images/process/icon.gif) no-repeat -297px -88px;
    width: 17px;
    height: 30px;
    display: block;
    float: left;
    padding: 0 3px 0 0;
}

.User_icon4 {
    background: url(../images/process/icon.gif) no-repeat -319px -88px;
    width: 17px;
    height: 30px;
    display: block;
    float: left;
    padding: 0 3px 0 0;
}

.User_icon5 {
    background: url(../images/process/icon.gif) no-repeat -341px -88px;
    width: 17px;
    height: 30px;
    display: block;
    float: left;
    padding: 0 3px 0 0;
}

.User_btn_cx {
    height: 25px;
    width: 72px;
    border: 0px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    background: #64b4ea;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    letter-spacing: 3px;
    font-weight: bold;
    cursor: pointer;
}

.User_manage {
    color: #606060;
    border-bottom: 1px solid #dedede;
    padding: 16px 0 0;
    position: relative;
    margin-top: 25px;
}
.User_manage .fr{
    position: absolute;
    right: 10px;
    bottom: 7px;
}
.User_manage .fr img{
    margin-right: 5px;
}
.User_manage .fr:hover{
    color: #666;
}
.User_manage span {
    border: 1px solid #dedede;
    border-bottom: none;
    background: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    padding: 6px 22px;
    margin-left: 11px;
    position: absolute;
    top: -17px;
}

.User_manForm th {
    background: #a7b2c4 url(../images/user/borderR.png) right center no-repeat;
    text-align: center;
    color: #fff;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
}

.User_manForm td {
    text-align: center;
    color: #454545;
    padding: 5px;
    height: 32px;
    border-right: 1px solid #fff;
}

.userTable tbody td { text-align: left; }

.userTable td {
    color: #b6b6b6;
    position: relative;
}

.userTable td em { color: #71757a; }

.userTable strong { color: #ed2121; }

.userTable td input { margin-right: 5px; }

.userTable dl {
    overflow: hidden;
    width: 230px;
}

.userTable dl dt {
    width: 82px;
    border: 1px solid #eee;
    float: left;
    margin-right: 10px;
}

.userTable dl dt img {
    width: 80px;
    height: 80px;
}

.userTable dl dd {
    float: left;
    width: 130px;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;
}

.userTable dl dd a {
    line-height: 22px;
    font-size: 13px;
}

.userTable a { color: #4997e0; }

.userTable td p { margin-top: 3px; }

.userTable .confirm {
    width: 63px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    background: #4997e0;
    color: #fff;
    font-size: 13px;
    display: inline-block;
    border-radius: 4px;
    webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.userTable .confirm:hover { text-decoration: none; }

.userTable p a { color: #5c728c; }

.userTable .line {
    width: 1px;
    height: 80px;
    background: #ebebeb;
    display: block;
    position: absolute;
    left: 0px;
    top: 6px;
}

/* OrderDetails 最后更新时间8.9*/

.OrderDetails_table1 {
    background-color: #fff;
    text-align: center;
}

.OrderDetails_table1 th {
    background-color: #fff;
    color: #848383;
    font-weight: normal;
    height: 27px;
    padding: 3px 0 0 0;
}

.OrderDetails_table1 td {
    background-color: #fff;
    color: #1b1a1a;
    padding: 7px 0;
}

.OrderDetails_table2, .OrderDetails_table5, .OrderDetails_table6 {
    background-color: #8cd0ff;
    text-align: left;
}

.OrderDetails_table2 th, .OrderDetails_table5 th, .OrderDetails_table6 th {
    background-color: #e0f0fe;
    color: #135ace;
    height: 27px;
    padding: 3px 0 0 15px;
}

.OrderDetails_table5 th { font-weight: normal; }

.OrderDetails_table6 th {
    font-weight: normal;
    font-size: 14px;
}

.OrderDetails_table2 td, .OrderDetails_table5 td, .OrderDetails_table6 td {
    background-color: #fff;
    color: #2c2b2b;
    padding: 5px 0 5px 10px;
    clear: 7a7b7c;
}

.OrderDetails_table6 td {
    padding: 10px 0 10px 10px;
    font-size: 14px;
}

.OrderDetails_table3 {
    background-color: #aaa9a7;
    text-align: center;
}

.OrderDetails_table3 th {
    background-color: #b4b3b3;
    color: #fffefe;
    font-weight: normal;
    height: 27px;
    padding: 3px 0 0 0;
}

.OrderDetails_table3 td {
    background-color: #fff;
    color: #2f2e2e;
    padding: 7px 0;
    text-align: center;
}

.OrderDetails_table4 {
    background-color: #feae3c;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.OrderDetails_table4 th {
    background-color: #feecda;
    color: #494949;
    height: 27px;
    padding: 3px 0 0 15px;
}

.OrderDetails_table4 td {
    background-color: #fff;
    color: #f32c11;
    padding: 10px 0 10px 10px;
}

.OrderDetails_bg {
    background-color: #fafcff;
    border: 2px solid #52aaf4;
}

.OrderDetails_line {
    border: 1px solid #8cd0ff;
    background-color: #fefefe;
    padding: 10px 15px;
    color: #2f2e2e;
    height: 280px;
    overflow: hidden;
}

.OrderDetails_line th {
    color: #898886;
    text-align: left;
    font-weight: normal;
    padding: 3px 0;
}

.OrderDetails_tit {
    border: 1px solid #8cd0ff;
    background: #e0f0fe;
    padding: 3px 15px 0 10px;
    font-weight: bold;
    text-align: center;
}
.listTips{
    margin: 10px;
}
.listTips h2{
  border: 1px solid #ddd;
  margin: 5px 0;
  font-weight: bold;
  border-left: 3px solid #ddd;
  padding-left: 8px;
  background: #f7f7f7;
  line-height: 25px;
}
.listTips table{
    width: 100%;
}
.listTips th{
    background:#f3f4f5;
    padding: 5px 0;
}
.listTips .innerTab{
    border: 1px solid #ddd;
    border-collapse: separate;
    margin-bottom: 5px;    
}
.listTips ul{
    margin: 0 8px;
    overflow: hidden;
}
.listTips ul li{
    line-height: 30px;
    float: left;
    width: 50%;
}
.Order_tab {
    width: 107px;
    height: 24px;
    text-align: center;
    margin: 0 3px 0 0;
    display: block;
    float: left;
    color: #514f4f;
    background: url(../images/process/background.gif) no-repeat -86px -360px;
}

.Order_tab a, .Order_tab a:hover, .Order_in a, .Order_in a:hover {
    width: 107px;
    height: 24px;
    *height: 22px;
    text-align: center;
    margin: 0 2px 0 0;
    display: block;
    float: left;
    color: #514f4f;
    *padding: 2px 0 0 0;
    background: url(../images/process/background.gif) no-repeat -86px -360px;
    text-decoration: none;
}

.Order_tab a:hover {
    background: url(../images/process/background.gif) no-repeat -86px -440px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.Order_in a, .Order_in a:hover {
    background: url(../images/process/background.gif) no-repeat -86px -440px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.Order_pic {
    width: 63px;
    height: 63px;
    padding: 1px;
    border: 1px solid #d3d4d5;
    overflow: hidden;
}





.btn_sub {
    background: url(../images/process/login_quick_sub.jpg) no-repeat;
    width: 87px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    display: block;
}

.addLayout {
    width: 100%;
    background: #404952;
    height: 48px;
    min-width: 1200px;
}

.member_top_info {
    background: #f2f2f2;
    height: 32px;
    line-height: 32px;
}

.member_top_info_c {
    width: 1200px;
    margin: 0 auto;
    font-family: "SimSun";
}

.member_top_info_c_l { float: left; }

.member_top_info_c_l a { color: #CE1000;}

.siteNav li .menu .arrow, .siteNav li .menu .list { background: url(../images/icon.png) no-repeat; }

.siteNav {
    float: right;
    overflow: hidden;
}

.siteNav li {
    float: left;
    display: inline;
    text-align: center;
    margin: 0 5px;
    color: #797878;
}
.siteNav li a {
    color: #797878;
    font-size: 12px;
}

.siteNav li a:hover {
    text-decoration: none;
}

.siteNav li em {
    display: inline;
    float: left;
}

.siteNav li .fav {
    background: url(../images/icon.png) 0 0 no-repeat;    
    width: 14px;
    height: 13px;
    margin: 12px 5px 0 0;
}
.siteNav li .help {
    background: url(../images/icon.png) -18px -153px no-repeat;    
    width: 13px;
    height: 13px;
    margin: 10px 5px 0 0;
}
.siteNav li .arrow {
    background-position: 0 -14px;
    width: 8px;
    height: 4px;
    margin: 13px 0 0 4px;
    _overflow: hidden;
}

.siteNav li .car {
    background-position: 0 -23px;
    width: 12px;
    height: 11px;
    margin: 12px 5px 0 0;
}

.siteNav li .list {
    background-position: 0 -38px;
    width: 13px;
    height: 13px;
    margin: 10px 5px 0 0;
}

.menuList { display: none; }

.core_layout {
    width: 1095px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-left: 105px;
}

.core_layout .fLogo a{
    display: inline-block;
    float: left;
    color: #f3f7fb;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 18px;
    padding-top: 7px;
}
.core_layout .fLogo a:hover{
    text-decoration: none;
}
.core_layout .fLogo img {
    position: absolute;
    left: 0px;
    top: 8px;
    padding-right: 10px;
}

.core_layout .fLogo p {
    font-size: 10px;
    -webkit-transform: scale(0.8);
    -o-transform: scale(1);
    letter-spacing: 0px;
    *margin-left: 0;    
}
@media screen and (-webkit-min-device-pixel-ratio:0){ 
    .core_layout .fLogo p{
        margin-left: -10px;
    }
}

.core_layout .fLogo:hover { text-decoration: none; }

.member_nav { float: right; }

.member_nav_l {
    padding-left: 10px;
    float: left;
}

.member_nav_l li {
    float: left;
    text-align: center;
    font-size: 13px;
    height: 48px;
    line-height: 48px;
    padding: 0 15px;
    position: relative;
    background: url(../images/add/split.jpg) right center no-repeat;
}
.member_nav_l li img{
    margin-right: 5px;
}
.member_nav_l li a { color: #fff; }

.member_nav_l li a:hover { text-decoration: none; }

.member_nav_l li b {
    position: absolute;
    bottom: 0;
    left: 43%;
    border-color: transparent transparent #f3f3f3 transparent;
    border-width: 6px;
    border-style: solid;
    display: none;
}

.member_nav_r {
    float: right;
    background: url(../images/user/member_dwt_13.jpg) no-repeat right top;
    height: 40px;
    padding-right: 25px;
    color: #5f5f5f;
}

.member_nav_r a { color: #5f5f5f; }

.member_nav_r b { color: #ff0100; }

.member_nav_rc {
    background: url(../images/user/member_dwt_icon.jpg) no-repeat 0px 14px;
    padding-left: 20px;
}

/*弹出提示框*/

.alertWp {
    /*width: 540px;
  margin: 0px auto;
  position: absolute;
  top: 40%;
  left: 40%;
  border: 1px solid #c7c7c7;*/
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #fff;
    z-index: 2;
    padding: 22px 15px;
}

.speWp { /*width: 630px;*/ }

.alertWp h2 {
    color: #6e6e6e;
    font-size: 16px;
    position: relative;
}

.alertWp cite {
    font-size: 20px;
    position: absolute;
    right: -8px;
    top: -30px;
    color: #b3b3b3;
    cursor: pointer;
    display: none;
}

.alertWp .cancel {
    background-position: 0 -54px;
    height: 40px;
    line-height: 40px;
    padding-left: 55px;
}

.alertWp .sure {
    background-position: 0 -98px;
    height: 40px;
    line-height: 40px;
    padding-left: 55px;
}

.alertWp p {
    color: #5d5c5c;
    margin: 0 0 5px 55px;
}

.alertWp select { width: 280px; }

.alertWp .butWp {
    margin: 30px 10px 0 0;
    float: right;
}

.alertWp .butWp input {
    width: 87px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #5c6369;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top, #fbfbfb 0%, #f3f4f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #f3f4f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #f3f4f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fbfbfb 0%, #f3f4f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fbfbfb 0%, #f3f4f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fbfbfb 0%, #f3f4f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#f3f4f5', GradientType=0); /* IE6-9 */
    border: 1px solid #727272;
    margin-right: 12px;
}

.alertWp span {
    font-size: 12px;
    color: #c7c7c7;
    margin: 0 5px;
}

.alertWp a {
    color: #4a84f7;
    font-size: 12px;
    border-bottom: 1px solid #4a84f7;
    padding-bottom: 1px;
    font-weight: bold;
}

.alertWp .pwd { margin-top: 25px; }

.alertWp .pwd input {
    border: 1px solid #bebebe;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    height: 20px;
    line-height: 20px;
}

.alertWp .pwd a {
    margin-left: 5px;
    border: none;
}

.alertWp .succ {
    border-bottom: 1px dashed #bebebe;
    padding-bottom: 15px;
    margin-left: 70px;
}

.alertWp h2 em {
    display: block;
    font-size: 12px;
    font-family: "SimSun";
}

.alertWp ul {
    border-bottom: 1px dashed #bebebe;
    margin-top: 10px;
}

.alertWp ul li {
    margin-bottom: 8px;
    overflow: hidden;
}

.alertWp ul li span {
    color: #828282;
    display: inline-block;
    float: left;
}

.alertWp ul li .sL {
    width: 130px;
    text-align: right;
}

.alertWp ul li .sC { width: 290px; }

.alertWp ul li .sR { color: #c3c3c3; }

.alertWp ul li textarea {
    resize: none;
    border: 1px solid #bebebe;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    width: 280px;
    height: 54px;
}

.innerArea { padding: 0 10px; }

.AgentAddNews td { padding-bottom: 10px;font-size:12px;}

.AgentAddNews .UserInfo_text_right { text-align: right; }

/*首页*/

.indexWp {
    padding: 30px;
    border: 1px solid #ccc;
    width: 980px;
    background: #fff;
    float: left;
    position: relative;
}

.indexWp dl { overflow: hidden; }

.indexWp dl dt {
    float: left;
    margin-right: 25px;
}

.indexWp dl dt img { border: 1px solid #ccc; }

.indexWp dl dd {
    float: left;
    padding: 2px 80px 0 0;
}

.indexWp dl dd strong {
    color: #3f3e3e;
    font-size: 17px;
    font-weight: normal;
}

.indexWp dl dd p {
    color: #929292;
    font-size: 13px;
}

.indexWp dl dd img { margin-right: 14px; }

.goods {
    position: absolute;
    width: 245px;
    right: 50px;
    top: 35px;
}

.goods td {
    border: 1px solid #d0d5dd;
    text-align: center;
}

.goods .lineF {
    color: #757575;
    font-size: 14px;
    position: relative;
    line-height: 34px;
}

.goods em {
    color: #c5c3c3;
    font-size: 13px;
    margin-left: 8px;
}

.goods .lineF span {
    display: block;
    width: 39px;
    height: 36px;
    background: #f9fafd;
    position: absolute;
    left: 0px;
    top: 0px;
    border-right: 1px solid #d0d5dd;
}

.goods .lineF img { margin-top: 5px; }

.goods .lineS td {
    padding-top: 3px;
    color: #919292;
    font-size: 13px;
}

.goods .lineS a {
    color: #6d8cc4;
    font-size: 13px;
    display: block;
    text-decoration: underline;
    margin: 2px 0 12px;
}

.userTab { margin-top: 36px; }

.userTab span {
    font-size: 14px;
    color: #3f3e3e;
    margin-right: 25px;
    display: inline-block;
    padding-bottom: 2px;
    cursor: pointer;
}

.userTab .active { border-bottom: 4px solid #e28400; }

.tabInfo {
    overflow: hidden;
    border: 1px solid #cbcbcb;
    border-left: 0;
    border-right: 0;
    margin-top: -1px;
    height: 86px;
}

.myList ul li {
    float: left;
    width: 20%;
    color: #929292;
    line-height: 86px;
}

.myList ul li strong {
    color: #5c81b2;
    font-size: 24px;
    margin-right: 5px;
}

.myLeval p {
    margin-top: 10px;
    color: #929292;
}

.myLeval strong {
    color: #e36000;
    font-size: 13px;
}

.levalLine {
    width: 730px;
    overflow: hidden;
    margin-top: 5px;
    float: left;
}

.levalLine dl {
    width: 210px;
    float: left;
    position: relative;
}

.levalLine dl dt {
    background: #e38500;
    height: 4px;
    margin: 0;
    z-index: 2;
    position: relative;
    margin-top: 21px;
}

.levalLine dl .red {
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
}

.levalLine dl dt span { display: none; }

.levalLine dl .red span {
    display: block;
    width: 13px;
    height: 19px;
    position: absolute;
    top: -20px;
    right: 0px;
    background: url(../images/user/v.png) right center no-repeat;
    margin: 0;
}

.levalLine dl dd {
    float: none;
    background: #d6d6d6;
    height: 4px;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 1;
}

.levalLine dl .gray {
    position: absolute;
    top: 21px;
    left: 0;
}

.levalLine .leval1 { background: url(../images/user/leval1.png) left top no-repeat; }

.levalLine .leval2 { background: url(../images/user/leval2.png) center top no-repeat; }

.levalLine .leval3 { background: url(../images/user/leval3.png) right top no-repeat; }

.levalLine .last { width: 100px; }

.levalLine .leval1 dt {
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
}

.levalLine .last .gray {
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
}

.vWords span {
    font-size: 12px;
    color: #929292;
    margin-right: 0;
    width: 210px;
}

.vWords .v3 { text-align: center; }

.vWords .v4 { text-align: right; }

.aLink {
    float: right;
    margin-top: 15px;
}

.aLink a {
    color: #188bd7;
    text-decoration: underline;
    margin: 0 11px;
}

.MessageError li { color: red; }
/*渠道管理*/
.siteWp{
    max-width: 630px;
    margin: 0px auto;
    padding: 60px 0;
}
.siteWp h2{
    position: relative;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    margin-bottom: 20px;
    clear: both;
}
.siteWp h2 span{
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 100px;
    background: #fff;
    margin-left: -50px;
}
.siteWp ul{
    margin:0 0 20px 8px;
    width: 650px;
    clear: both;
    overflow: hidden;
}
.siteWp ul li{
    float: left;
    text-align: center;
    line-height: 60px;
    height: 60px;
    margin:0 8px 15px 0;
    padding: 0 6px;
    border: 1px dashed #fff;
}
.siteWp ul li:hover{
    border: 1px dashed #ddd;
}